{% extends "base.html" %}

{% block app_content %}
    <head>
        <title>Tracking report generator</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="../static/css/form_page.css" rel="stylesheet">
    </head>

    <body>
    <div class="testbox">
        <form action="#" method="POST">
            <div class="banner">
                <h1>Experiencia Académica</h1>
            </div>
            <div class="item">
                <label for="guide">Título Obtenido:<span>*</span></label>
                <input id="guide" name="guide" type="text"/>
            </div>
            <div class="item">
                <label for="start">Universidad:<span>*</span></label>
                <input id="start" name="start" type="text"/>
            </div>

            <div class="item">
                <label for="bdate">Fecha de graduación:</label>
                <input id="bdate" name="bdate" required type="date"/>
                <i class="fas fa-calendar-alt"></i>
            </div>

            <div class="checkbox-inline pl-0">
                <label for="currently_enrolled">Esta estudiando actualmente?:</label>
                <input id="currently_enrolled" name="currently_enrolled" required type="checkbox"/>
                <i class="fas fa-calendar-alt"></i>
            </div>

            <div class="btn-block">
                <button type="submit">Añadir</button>
                <button class="btn-siguiente">Siguiente</button>
            </div>

        </form>
    </div>
    </body>

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}
