{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="../../static/css/form_page.css" rel="stylesheet">

<div class="row justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <h1 style="color: gray; position: relative;" >Ingresar</h1>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form) }}
    </div>
</div>


{% endblock %}
